{% extends "::admin_base.html.twig" %}
{% block title %}TourLondresDashboardBundle:Banner:list{% endblock %}

{% block body %}

	<div class="listWrap">
        <div class="adminTitleWrap">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="adminTitle">Lista de <span>Banners</span></h1>
                </div>
            </div>
        </div>
        <div class="form-group">

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    <div class="alert alert-success" role="alert">
                        {{ flashMessage }}
                    </div>
                </div>
            {% endfor %}
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for banner in banners %}
                        <tr>
                            <td scope="row">{{ banner.file }}</td>
                            <td></td>
							<td></td>
                            <td><a href="/tourlondres-symfony/web/images/{{ banner.file }}" class="fancybox btn-xs btn btn-success pull-right">Ver</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('tourlondres_dashboard_banner_add') }}" class="edit btn btn-primary pull-right">Añadir Banner</a>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox();
		});
	</script>

{% endblock %}
