<header class="container adminHeader">
	<div class="row">
		<div class="col-md-3">
			<a href="" title="home">
				<img src="{{ asset('/tourlondres-symfony/web/images/logo.png') }}" class="img-responsive  logo" alt="TOUR LONDRES"/>
			</a>
		</div>
		<div class="col-md-9">
			<h1>Dashboard <span>Tour Londres</span></h1>  
		</div>
	</div>
</header>

<div class="separator"></div>



