<div class="fullwidth_container">
  <div class="container">
    <nav class="navbar navbar-default main_nav" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class=""><a href="{{ path('general', {'page': 'home', '_locale': 'es' }) }}"><strong>Home</strong></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Tours Privados</strong><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">En que consisten</a></li>
                <li><a href="#">Precios</a></li>
                <li class="divider"></li>
                {% for tour in tours %}
                  {% if tour.available == true %}
                    <li><a href="{{ path('tourlondres_tour_tours_show', {'id': tour.id}) }}">{{ tour.esnav }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Rutas Semanales</strong><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">En que consisten</a></li>
                <li><a href="#">Precios</a></li>
                <li class="divider"></li>
                <li><a href="#"></a></li>
              </ul>
            </li>
            <li class=""><a href="#"><strong>Tours Gratis</strong></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong>Traslados</strong><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">En que consisten</a></li>
                <li><a href="#">Precios</a></li>
              </ul>
            </li>
            <li class=""><a href="#"><strong>Contacto</strong></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</div>