<!--footer includuding collaborations-->
<footer>
    <nav class="additionalinformation">
    </nav>
    <p><span id="contacto">Email: <strong>contacto@tourlondres.com</strong> | Teléfono <strong>+44 (0) 792 902 1283</strong> | Diseño, Programación y Fotografía: <strong><a href="https://www.linkedin.com/in/jorgeagundezmedina" title="LinkedIn" target="_blank">Jorge Agúndez Medina</a></strong> | <strong>&copy; 2014 TOUR LONDRES. Todos los derechos reservados</strong></span></p>
</footer>