<div class="sidebar">
	<div class="sidebarBlock text">
		<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
		<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
		<p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
	</div>
	<div class="sidebarBlock colaborations">
		<ul>
			<li><a href="http://www.zoneoneradio.com/2013/04/nuevo-show-lanuevea-armada-con-patricia.html" title="La Nueva Armada Radio" target="_blank"><img src="{{ asset('/tourlondres-symfony/web/images/nuevaarmada.jpg') }}"/></a></li>
			<li><a href="http://www.buscoenlondres.com/" title="Busco en Londres" target="_blank"><img src="{{ asset('/tourlondres-symfony/web/images/buscoenlondres.jpg') }}"/></a></li>
			<li><a href="http://genteventos.com/" title="Gente Eventos" target="_blank"><img src="{{ asset('/tourlondres-symfony/web/images/genteventos.png') }}"/></a></li>
			<li><a href="http://www.elcarnavaldelacomedia.co.uk/" title="El Carnaval de la Comedia" target="_blank"><img src="{{ asset('/tourlondres-symfony/web/images/carnaval.jpg') }}"/></a></li>
		</ul>
	</div>
</div>