/******************/
/******************/
/*	  General	  */
/******************/
/******************/

body {
	display:block;
	position:relative;
    font-family: 'Scada', sans-serif;
	font: normal 100%;
	font-size:1rem;
}

ul {
	list-style: none;
}

.fullwidth_container {
	display:block;
	width:100%;
	max-width: 100%;
}

section span{ 
	color:#ec9e15;
}

p, a, td, th, label {
	color: rgba(35, 31, 30, 1);
	font-size:16px;
}

a:hover {
	text-decoration: none;
	color: #D48E12;
}

.buttonGroup {
	padding-bottom: 50px;
}

.alert {
	font-size:16px;
}

/**********************/
/**********************/
/*  Common Elemnts    */
/**********************/
/**********************/

.separator {
	display:block;
	position:relative;
	width:100%;
	height:3px;
	margin:auto;
	border-top:1px solid #F0EDCB;
	border-bottom:1px solid #F0EDCB;
	/**Gradients for Safari, Chrome, Firefox, Opera and Explorer respectively**/
	background-image: -webkit-gradient(linear,right bottom,right top,color-stop(0, #F7F4D1),color-stop(1, #FBF9E8));
	background-image: -o-linear-gradient(top, #F7F4D1 0%, #FBF9E8 100%);
	background-image: -moz-linear-gradient(top, #F7F4D1 0%, #FBF9E8 100%);
	background-image: -webkit-linear-gradient(top, #F7F4D1 0%, #FBF9E8 100%);
	background-image: -ms-linear-gradient(top, #F7F4D1 0%, #FBF9E8 100%);
	background-image: linear-gradient(to top, #F7F4D1 0%, #FBF9E8 100%);
	box-shadow: 0px 0.5px 5px 0px #82827f;
	overflow:hidden;
}

.bigSeparator {
	display:block;
	position:relative;
	width:100%;
	height:35px;
	margin:auto;
	border-top:1px solid #F0EDCB;
	border-bottom:1px solid #F0EDCB;
	/**Gradients for Safari, Chrome, Firefox, Opera and Explorer respectively**/
	background-image: -webkit-gradient(linear,right bottom,right top,color-stop(0, #F7F4D1),color-stop(1, #FBF9E8));
	background-image: -o-linear-gradient(top, #F7F4D1 0%, #FBF9E8 100%);
	background-image: -moz-linear-gradient(top, #F7F4D1 0%, #FBF9E8 100%);
	background-image: -webkit-linear-gradient(top, #F7F4D1 0%, #FBF9E8 100%);
	background-image: -ms-linear-gradient(top, #F7F4D1 0%, #FBF9E8 100%);
	background-image: linear-gradient(to top, #F7F4D1 0%, #FBF9E8 100%);
	box-shadow: 0px 0.5px 5px 0px #82827f;
	overflow:hidden;
}

/*BANNER*/

.banner {
	height: 390px;
	position: relative;
}

.banner img {
	width:100%;
	height: 100%;
	max-width: 100%;
	float:left;
}

/*CONTENT*/

.mainContentWrap {
	background-color:rgba(35, 31, 30, 1);
}

.mainContent {
	padding:50px 20px;
  	opacity: 0.95;
}
	.mainContent p {
		/*color: rgba(35, 31, 30, 1);*/
		text-align: left;
		font-size: 16px;
	}

	.mainContent strong {
		color:#ec9e15;
	}

	.mainContent p,
	.mainContent h1,
	.mainContent h2, 
	.mainContent h3,
	.mainContent table td,
	.mainContent table th{
		color: #F7F4D1;
	}

	.mainContent h1 {
  		text-align: left;
  		text-shadow: 0px 0px 1px #808170;
  		font-size: 32px;
  		opacity: 1;
  		font-family: 'Scada', sans-serif;
  		padding-bottom: 20px;
	}

	.mainContent table {
  		text-shadow: 0px 0px 35px #000000;
  		margin: auto;
  		height: auto;
  		width: 100%;
  		display: table;
		border-collapse: separate;
		border-spacing: 2px;
		border-color: gray;
		margin: 20px 0 30px 0;
	}
	.mainContent table td, 
	.mainContent table th {
		text-align: center;
		font-size: 16px;
  		background-color: #433b39;
  		padding: 5px;
	}

	.mainContent table th {
		font-size: 18px;
	}

/*SIDEBAR*/

.sidebar {
	padding:50px 20px;
}

	.sidebar p {
		color: rgba(35, 31, 30, 1);
		text-align: left;
		text-align: justify;
		font-size: 16px;
		color: #F7F4D1;
	}

	.sidebarBlock {
		padding:20px;
		border-bottom: 1px solid gray;
		position:relative;
	}

.colaborations li {
  display: inline-block;
}
	.colaborations img {
		 width: 100px;
	  	height: auto;
	  	min-width: 65px;
	  	padding: 5px;
	  	border-radius: 25px;
	}

/******************/
/******************/
/*		Header    */
/******************/
/******************/

header h1 {
	display:none;
}

header ul {
	position:relative;
	display: inline-block;
}

.logo {
	display:block;
	margin: auto;
}

.title {
	display:block;
	padding-top: 40px;
	opacity: 0.9;
	margin:auto;
}

.social {
	display:block;
	margin: auto;
	padding-top: 120px;
}

	.iconmedia {
		display:inline-block;
		border-radius: 50%;
		background:transparent;
		margin: 0 4px;

	}
		.iconmedia img {
			width:35px;
			height: 35px;
			opacity: 0.8;
		}

nav.navbar.navbar-default.main_nav {
	background: transparent;
	border: none;
	margin-bottom: 0;
	min-height: 40px;
}

.main_nav ul.nav.navbar-nav {
	display:table;
	width:100%;
}
 
.main_nav ul.nav.navbar-nav > li {
	text-align: center;
	width: 170px;
	display: table-cell;
  	float: none;
}
	.main_nav ul.nav.navbar-nav > li a {
		font-size:1.5em;
		padding-top: 5px;
		padding-bottom:5px;
		line-height: 2em;
		border-right: 1px solid #F0EDCB;
	}

	.main_nav ul.nav.navbar-nav > li > a:first-child {
		border-left: 1px solid #F0EDCB;
	}

	.main_nav ul.nav.navbar-nav ul.dropdown-menu {
		width: 100%;
		border-left: none;
	}
			.main_nav ul.nav.navbar-nav .dropdown ul li a {
				font-size:1.1em;
				border-right: none;
			}

			.main_nav ul.nav.navbar-nav .dropdown ul li a:hover {
				font-size:1.1em;
			}

/******************/
/******************/
/*		Home     */
/******************/
/******************/

/*  BANNER   */
.slider, .firstinfo {
	height:390px;
	max-height: 390px;
}

.carousel {
	overflow: hidden;
	position:relative;
}

.picBanner {
	width:100%;
	max-width: 100%;
	height: auto;
}

.firstinfo {
	width: 100%;
	position:absolute;
	z-index: 1;
	background-color:rgba(35, 31, 30, 0.8);
	color:#F7F4D1;
	padding: 80px 20px 20px 20px;
}

.firstinfo > h1 {
	text-align:left;
	font-size:25px;
}

.firstinfo > h2 {
	font-size:16px;
	font-weight:normal;
}
.carousel-indicators {
	position:relative;
}

.carousel-indicators li {
	display: inline-block;
	opacity:0;
	position: absolute;
	width: 200px;
	height: 100px;
	top: 75px;
	left: 0px;
	text-indent: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
	text-align: left;
}

.carousel-indicators .active {
	margin: 0;
	background-color: transparent;
	width: 200px;
	height: 100px;
	display: inline-block;
	opacity:1;
	border: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

	.carousel-indicators .active a {
		font-size: 18px;
		color:#F7F4D1;
		font-weight: 300;
	}
	 


/**********************/
/**********************/
/*    Tour Template   */
/*********************/
/**********************/
.tour_list{
	margin-top: 25px;
}

.tour {
	border-top: 1px solid #4e4b4a;
	padding: 20px 0;
}

.small_banner_wrap {
	width: 150px;
	height: 150px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.small_banner_wrap img {
	width: 350%;
	position: absolute;
	left: -90px;
}

/* ribbon tour */

.ribbon_tour {
	position:absolute;
	top: 70%;
	width: 0;
	background: #231F1E;
	opacity: 0.9;
	height: 90px;
	max-height: 90px;
}

	.ribbon_tour p {
		color: white;
		opacity: 0;
		padding-top: 18px;
		padding-bottom: 0px;
		text-align: right;
		padding-right: 20px;
		text-transform: capitalize;
		font-weight: bold;
		font-size: 26px;
		margin-bottom: 0;
		line-height: 25px;
	}

		span.tourtype {
			font-size:16px;
		}



/*private tours*/

/*semanal tours*/

.meeting {
  background: #383534;
  padding: 15px 15px 5px 15px;
  border-radius: 10px;
  margin-bottom: 35px;
}
	.meeting p {
		font-size: 20px;
	}



/******************/
/******************/
/*    Dashboard   */
/******************/
/******************/

body.adminPanel {
	background: #F7F4D1;
}

.adminPanel span { 
	color: #ec9e15;
}

.adminPanel .adminTitle {

}

/*GENERAL CONTENT*/

.adminContent {}

.adminContent .table > thead > tr > th,
 .adminContent .table > tbody > tr > th,
  .adminContent .table > tfoot > tr > th,
   .adminContent .table > thead > tr > td,
    .adminContent .table > tbody > tr > td,
     .adminContent .table > tfoot > tr > td {
   border-color: #dedbbc;
  border-width: 1px;
}

.adminPanel .logo {
	width:100%;
}

.adminPanel .logo img {
	display:block;
	margin: 0 auto 50px;
}

/*SIDEBAR*/

.adminPanel .admin_menu {
	display: inline-block;
	float: left;
	width: 20%;
	background: #231F1E;
	position:fixed;
	color: #F7F4D1;
	border-right: 1px solid #4e4b4a;
	text-align: center;
}


	.admin_menu ul {
		padding-top: 30px;
		padding-left: 0;
		list-style: none;
		margin: 0;
  		border-bottom: 1px solid #4e4b4a;
  		display: table;
  		width: 100%;
	}

	.admin_menu ul li {
		border-top: 1px solid #4e4b4a;
		
		position:relative;
		display: block;

	}

	.admin_menu ul li a {
		padding: 10px;
		display: block;
		width: 100%;
		color: #F7F4D1;
		text-align: left;
		padding-left: 50px;
	}

	.admin_menu ul li a:hover {
		background: #383534;
		color:#ec9e15;
	}
		.admin_menu ul li.current a{
			color:#ec9e15;
			background: #383534;
		}


/*MAIN*/

.adminPanel .admin_main {
	display: inline-block;
	float: right;
	width: 80%;
	padding: 0 30px;
	position: relative;
	padding-top: 100px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.adminTitleWrap {
	color: #F7F4D1;
	position: absolute;
	left: 0;
	top:0;
	
}

h1.adminTitle {
	padding-top: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #4e4b4a;
	width:100%;
	position:fixed;
	padding-left: 30px;
	background: #383534;
	margin-top:0;
	z-index:1;

}


/*TOURS*/
/*Edit*/

.editTourWrap .wrap {
	padding: 2px;
}

.editTourWrap label {
	font-weight: 300;
	float:right;
}

.editTourWrap textarea {
	height: 300px;
}

/*List*/
.delete span {
	color: black;
}

/*PRECIOS TOUR*/

.editPreciosWrap textarea {
	height: 300px;
}

.precios_tour label {
	display: none;
}

.editar {
	margin-bottom: 50px;
}

/* TOURS PRIVADOS */
.edit_privados_wrap textarea{
	height: 150px;
}
/* TOUR SEMANALES */
.edit_semanales_wrap textarea{
	height: 150px;
}

/* TRASLADOS */

/******************/
/******************/
/*	Footer     */
/******************/
/******************/


footer {
	display:block;
	position:relative;
	width:100%;
	margin: 0 auto;
	overflow:hidden;
}


footer p {
	display:block;
	position:relative;
	text-align:right;
	color:#231F1E;
	padding:1%;
	opacity:0.95;
	font-size: 9px;
}

footer p a { 
	text-decoration:none;
	color:#231F1E;
	font-size: 9px;
}

footer p a:hover { 
	text-decoration:underline;
	color:#231F1E;
}

#contacto {
	opacity:0.95;
}