/******************/
/*	  General	  */
/******************/

body {
	display:block;
	position:relative;
    font-family: 'Scada', sans-serif;
	font: normal 100%;
	font-size:1rem;
}

ul {
	list-style: none;
}

.fullwidth_container {
	display:block;
	width:100%;
	max-width: 100%;
}

section span{ 
	color:#ec9e15;
}

p, a {
	color: rgba(35, 31, 30, 1);
	font-size:16px;
}

a:hover {
	text-decoration: none;
	color: #D48E12;
}


/******************/
/*		Header    */
/******************/

header h1 {
	display:none;
}

header ul {
	position:relative;
	display: inline-block;
}

.logo {
	display:block;
	margin: auto;
}

.title {
	display:block;
	padding-top: 40px;
	opacity: 0.9;
	margin:auto;
}

.social {
	display:block;
	margin: auto;
	padding-top: 120px;
}

	.iconmedia {
		display:inline-block;
		border-radius: 50%;
		background:transparent;
		margin: 0 4px;

	}
		.iconmedia img {
			width:35px;
			height: 35px;
			opacity: 0.8;
		}

nav.navbar.navbar-default.main_nav {
	background: transparent;
	border: none;
	margin-bottom: 0;
	min-height: 40px;
}

.main_nav ul.nav.navbar-nav {
	border-left: 1px solid #F0EDCB;
}
 
.main_nav ul.nav.navbar-nav > li {
	text-align: center;
	width: 170px;
}
	.main_nav ul.nav.navbar-nav > li a{
		font-size:1.5em;
		padding-top: 5px;
		padding-bottom:5px;
		line-height: 2em;
		border-right: 1px solid #F0EDCB;
	}

	.main_nav ul.nav.navbar-nav ul.dropdown-menu {
		width: 100%;
		border-left: none;
	}
			.main_nav ul.nav.navbar-nav .dropdown ul li a {
				font-size:1.1em;
				border-right: none;
			}

			.main_nav ul.nav.navbar-nav .dropdown ul li a:hover {
				font-size:1.1em;
			}

/******************/
/*		Home     */
/******************/

/*  BANNER   */
.slider, .firstinfo {
	height:390px;
	max-height: 390px;
}

.carousel {
	overflow: hidden;
	position:relative;
}

.picBanner {
	width:100%;
	max-width: 100%;
	height: auto;
}

.firstinfo {
	width: 100%;
	position:absolute;
	z-index: 1;
	background-color:rgba(35, 31, 30, 0.8);
	color:#F7F4D1;
	padding: 80px 20px 20px 20px;
}

.firstinfo > h1 {
	text-align:left;
	font-size:25px;
}

.firstinfo > h2 {
	font-size:16px;
	font-weight:normal;
}
.carousel-indicators {
	position:relative;
}

.carousel-indicators li {
	display: inline-block;
	opacity:0;
	position: absolute;
	width: 200px;
	height: 100px;
	top: 75px;
	left: 0px;
	text-indent: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
	text-align: left;
}

.carousel-indicators .active {
	margin: 0;
	background-color: transparent;
	width: 200px;
	height: 100px;
	display: inline-block;
	opacity:1;
	border: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

	.carousel-indicators .active a {
		font-size: 18px;
		color:#F7F4D1;
		font-weight: 300;
	}

/*CONTENT*/

.mainContent {
	padding:50px 20px;
	background-color: #231F1E;
  opacity: 0.95;
}
	.mainContent p {
		/*color: rgba(35, 31, 30, 1);*/
		color: #F7F4D1;
		text-align: left;
		text-align: justify;
		font-size: 16px;
	}

	.mainContent h1 {
		color: #D48E12;
  		text-align: left;
  		text-shadow: 0px 0px 1px #808170;
  		font-size: 32px;
  		opacity: 1;
  		font-family: 'Scada', sans-serif;
  		padding-bottom: 20px;
	}
	 
/*SIDEBAR*/

.sidebar {
	padding:50px 20px;
}

	.sidebar p {
		color: rgba(35, 31, 30, 1);
		text-align: left;
		text-align: justify;
		font-size: 16px;
	}

	.sidebarBlock {
		padding:20px;
		border-bottom: 1px solid gray;
		position:relative;
	}

.colaborations li {
  display: inline-block;
}
	.colaborations img {
		 width: 100px;
	  	height: auto;
	  	min-width: 65px;
	  	padding: 5px;
	  	border-radius: 25px;
	}
	
/******************/
/*    Dashboard   */
/******************/

.adminNav {
	padding: 20px;
}

/******************/
/*		Footer     */
/******************/


footer {
	display:block;
	position:relative;
	width:100%;
	margin: 0 auto;
	overflow:hidden;
}

.separator {
	display:block;
	position:relative;
	width:100%;
	height:10px;
	margin:auto;
	border-top:1px solid #F0EDCB;
	border-bottom:1px solid #F0EDCB;
	/**Gradients for Safari, Chrome, Firefox, Opera and Explorer respectively**/
	background-image: -webkit-gradient(linear,right bottom,right top,color-stop(0, #F7F4D1),color-stop(1, #FBF9E8));
	background-image: -o-linear-gradient(top, #F7F4D1 0%, #FBF9E8 100%);
	background-image: -moz-linear-gradient(top, #F7F4D1 0%, #FBF9E8 100%);
	background-image: -webkit-linear-gradient(top, #F7F4D1 0%, #FBF9E8 100%);
	background-image: -ms-linear-gradient(top, #F7F4D1 0%, #FBF9E8 100%);
	background-image: linear-gradient(to top, #F7F4D1 0%, #FBF9E8 100%);
	box-shadow: 0px 0.5px 5px 0px #82827f;
	overflow:hidden;
}

.separator ul {
  float: right;
  padding-right: 15px;
}

.separator ul li { /**button style**/
	display:inline-block;
	float:left;
	text-align:right;
	list-style:none;
}


.separator ul li a { /**links styles**/
	text-decoration:none;
	color:#6a4709;
	line-height: 2.5;
}

footer p {
	display:block;
	position:relative;
	text-align:right;
	color:#231F1E;
	padding:1%;
	opacity:0.95;
	font-size: 9px;
}

footer p a { 
	text-decoration:none;
	color:#231F1E;
	font-size: 9px;
}

footer p a:hover { 
	text-decoration:underline;
	color:#231F1E;
}

#contacto {
	opacity:0.95;
}