{% extends "TourLondresDashboardBundle::layout.html.twig" %}

{% block title %}TourLondresDashboardBundle:Admintours:add{% endblock %}

{% block body %}
<h1>Welcome to the Admintours:add page</h1>
{% endblock %}
