{% extends "TourLondresDashboardBundle::layout.html.twig" %}

{% block title %}TourLondresDashboardBundle:Admintours:edit{% endblock %}

{% block body %}
<h1>Welcome to the Admintours:edit page</h1>
{% endblock %}
